{
  "name": "gulp-dev",
  "version": "1.0.0",
  "description": "基于Gulp.js的开发调试工具",
  "main": "index.js",
  "directories": {
    "doc": "docs",
    "test": "tests"
  },
  "dependencies": {},
  "devDependencies": {
    "browser-sync": "^2.24.7",
    "gulp": "^4.0.0"
  },
  "scripts": {
    "gulp": "node node_modules/gulp/bin/gulp.js"
  },
  "author": "Moore.Huang",
  "license": "ISC"
}
