[aliases]
test=pytest

[tool:pytest]
;在这里添加--roodir会生效，但是执行pytest时打印出的只能通过命令行参数指定，所以会误认为没有生效
addopts = --rootdir={{project_dir}}/tests --cov-report=html:{{project_dir}}/htmlcov --cov-branch --cov={{project_dir}}/{{name}}/  -vv --disable-warnings
