[aliases]
test=pytest

[tool:pytest]
;add --roodir here will become effective, but when run pytest command
;the printed message of rootdir is only can be changed by command
;line, so never mind!
addopts = --rootdir={{project_dir}}/tests --cov-report=html:{{project_dir}}/htmlcov --cov-branch --cov={{project_dir}}/{{name}}/  -vv --disable-warnings
