from star_builder import Solo


class {{class_name}}(Solo):

    async def setup(self):
        """
        初始化
        :return:
        """

    async def run(self):
        """
        业务逻辑
        :return:
        """

    async def teardown(self):
        """
        回收资源
        :return:
        """

    @classmethod
    def enrich_parser(cls, sub_parser):
        """
        自定义命令行参数，若定义了，则可通过__init__获取
        注意在__init__中使用kwargs来保留其它参数
        :param sub_parser:
        :return:
        """

