from star_builder import Solo


class {{class_name}}(Solo):

    def __init__(self, initial, scope, **kwargs):
        """
        kwargs中有其余的命令行参数
        """
        super().__init__(initial, scope)

    async def setup(self):
        """
        初始化
        :return:
        """

    async def run(self):
        """
        业务逻辑
        :return:
        """

    async def teardown(self):
        """
        回收资源
        :return:
        """

    @classmethod
    def enrich_parser(cls, sub_parser):
        """
        自定义命令行参数
        :param sub_parser:
        :return:
        """

