from star_builder import Type, validators, Component


class {{class_name}}(Type):
{% if fields %}{% for name, type in fields %}    {{name}} = validators.{{type}}()
{% endfor %}{% else %}    pass
{% endif %}

class {{class_name}}Component(Component):

    async def resolve(self) -> {{class_name}}:
        pass