# {{doc_name}} API文档

{% for index, interface in enumerate(interfaces) %}

## {{index + 1}}. {{interface["comment"]}}
#### URL: {{interface["endpoint"]}}
#### 方法: {{interface["method"]}}
{% for name, params in iter(interface) %}
#### {{name}}
参数名|类型|是否必须|默认值|描述|示例
::-|::-|::-|::-|::-|::-
{% for name, param in params.items() -%}
{{name}}|{{param["type"]}}|{{"否" if param.get("default") else "是"}}|{{param.get("default", "")}}|{{param.get("desc")}}|{{"<br>".join(param["example"])}}

{%- endfor %}
{% endfor %}
{% if "json_params" in interface -%}
#### json请求体
##### 描述
{{interface["json_params"]["desc"]}}
##### 示例
{% for index, ex in enumerate(interface["json_params"]["example"]) %}
{% if len(interface["json_params"]["example"]) > 1%}
###### 示例{{index + 1}}
{% endif %}
{{ex}}
{% endfor %}
{%- endif %}
#### 返回信息
{% if "return_type" in interface -%}
##### 返回类型
{{interface["return_type"]}}
{% endif %}
{% if "return_structure" in interface -%}

{%- endif %}
##### 示例
{% for index, ex in enumerate(interface["return_example"]) %}
{% if len(interface["return_example"]) > 1%}
###### 示例{{index + 1}}
{% endif %}
{{ex}}
{% endfor %}


{% endfor %}