# {{doc_name}} API文档

## 模型定义
{% for model_name, fields in type_info.items() %}
### {{model_name}}
字段名|类型|是否必须|是否可为空值|默认值|描述|示例
:--|:--|:--|:--|:--|:--|:--{% for field_name, field in fields.items() %}
{{field_name}}|{{field["type"]}}|{{"否" if "default" in field or field["allow_null"] else "是"}}|{{"是" if field["allow_null"] else "否"}}|{{field.get("default", "")}}|{{field.get("desc", "")}}|{{"<br>".join(field["example"])}}{% endfor %}
{% endfor %}
## 接口定义
{% for index, interface in enumerate(interfaces) %}

### {{index + 1}}. {{interface["comment"]}}
#### URL: {{interface["endpoint"]}}
#### 方法: {{interface["method"]}}
{% for name, params in iter(interface) %}
#### {{name}}:
参数名|类型|是否必须|默认值|描述|示例
:--|:--|:--|:--|:--|:--{% for name, param in params.items() %}
{{name}}|{{param["type"]}}|{{"否" if "default" in param else "是"}}|{{param.get("default", "")}}|{{param.get("desc", "")}}|{{"<br>".join(param["example"])}}{% endfor %}
{% endfor %}
{% if "json_params" in interface -%}
#### json请求体
{% if interface["json_params"].get("desc") %}
##### 请求描述
{{interface["json_params"]["desc"]}}
{% endif %}
{% if "model_type" in interface["json_params"] -%}
##### 模型类型
```{{interface["json_params"]["model_type"]}}```
{% endif %}
{% if interface["json_params"].get("example") %}
##### 请求示例
{% for index, ex in enumerate(interface["json_params"]["example"]) %}
{% if len(interface["json_params"]["example"]) > 1%}
###### 示例{{index + 1}}
{% endif %}
{{ex}}
{% endfor %}
{% endif %}
{%- endif %}
{% if "return_type" in interface or interface.get("return_example") or interface.get("return_desc") %}
#### 返回信息
{% if "return_type" in interface -%}
##### 返回类型
```{{interface["return_type"]}}```
{% endif %}
{% if interface.get("return_desc") %}
##### 返回描述
{% for index, ex in enumerate(interface["return_desc"]) %}
{% if len(interface["return_desc"]) > 1%}
###### 描述{{index + 1}}
{% endif %}
{{ex}}
{% endfor %}
{% endif %}
{% if interface.get("return_example") %}
##### 返回示例
{% for index, ex in enumerate(interface["return_example"]) %}
{% if len(interface["return_example"]) > 1%}
###### 示例{{index + 1}}
{% endif %}
{{ex}}
{% endfor %}
{% endif %}
{% endif %}
{% if "resp_info" in interface -%}
#### 返回响应码
响应码|描述
:--|:--{% for code, msg in interface["resp_info"].items() %}
{{code}}|{{msg}}{% endfor %}
{% endif %}
{% endfor %}