from apistar import http
from star_builder import Service, route, get, post
{{'' if father == 'Service' else 'from .. import ' + father + '\n'}}

@route("/{{module_name}}")
class {{class_name}}Service({{father}}):
    pass