from apistar import App, http
from star_builder import Service, route, get, post
{{'' if father == 'Service' else 'from .. import ' + father + '\n'}}

@route("/{{service}}")
class {{service.capitalize()}}Service({{father}}):
    pass