import logging

from uvicorn import run
from star_builder import Application, ServiceComponent

logging.basicConfig(level=logging.DEBUG)
app = Application(components=[ServiceComponent()],
                    static_dir="static",
                    template_dir="templates")


if __name__ == "__main__":
    run(app)