import logging

from uvicorn import run
from star_builder import Application, ServiceComponent


def main():
    logging.basicConfig(level=logging.DEBUG)
    run(Application(components=[ServiceComponent()],
                    static_dir="static",
                    template_dir="templates"))


if __name__ == "__main__":
    main()
